.storyInfo {
	width: 50%;
	background-color: pink;
	padding: 1%
}

.firstRow {
	width: 100%;
	border-radius: 3px;
	padding: 2%;
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 1px solid black;
	background-color: lightgoldenrodyellow;
	justify-content: space-between;
	margin-bottom: 10px;
}

.storyDescription {
	width: 100%;
	height: 50px;
	line-height: 50px;
	margin: 8px auto;
	font-size: 20px;
	background-color: rgb(187, 187, 187);
}

.stateButtonContainer {
  margin-bottom: 8px;
}

.stateButtonContainer > button {
  border: 1px solid black;
  border-radius: 3px;
  font-size: 16px;
  height: 40px;
}

.start {
  background-color: rgb(228, 202, 202)
}

.finish {
  background-color: rgb(211, 129, 211);
  color: white;
}

.deliver {
  background-color: rgb(231, 231, 18)
}

.accept {
  background-color: rgba(16, 223, 16, 0.753);
}