.collapsedStory {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	border: 1px solid black;
  padding: 12px;
  background-color: rgb(240, 228, 228);
}

.collapsedStory:hover {
  background-color: rgb(199, 199, 199);
}

.acceptedStory {
  background-color: rgb(145, 241, 145);
}

.acceptedStory:hover {
  background-color: rgb(118, 216, 118);
}

.collapsedStory > div.leftCol {
  display: flex;
}

.collapsedStory hr {
  width: 10px;
  margin-bottom: 1px;
  margin-right: 12px;
}

.collapsedStory > .storyTitle {
	width: 100%;
	/* min-height: 32px; */
	font-size: 20px;
  margin-right: 12px;
}

/* .collapsedStory > .points {
  display: ;
} */

.storyContainer {
	padding: 32px 16px;
	background-color: rgb(255, 235, 235);
  border: 1px solid black;
}

/* .storyPoints {
  font-size: 20px;
  position: relative;
  right: 30px;
}

.spans {
	cursor: pointer;
} */
