.loader {
    text-align: center;
}
.loader > img {
    margin: auto;
    height: 200px;
    width: 200px;
}

textarea {
  width: 100%;
  resize: none;
  outline: none;
  border: 1px solid black;
  border-radius: 3px;
  margin: 20px 0;
  padding: 5px;
}

button {
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
}